# Virtual Environment
venv/
ENV/
env/

# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask-specific
instance/
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# JetBrains
.idea/
*.iml

# Docker


# Environment Variables
.env
/backend/flask_monitoringdashboard.db
/node_subscription/node_modules/
node_modules/
dist/
/node_subscription/dist/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/next-env.d.ts
front-end/node_modules
front-end/.pnp
front-end/.pnp.js
front-end/.yarn/install-state.gz

# testing
/coverage

# next.js
front-end//.next/
front-end//out/

# production
front-end//build

# misc
front-end/.DS_Store
front-end/*.pem

# debug
front-end/npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
front-end/.env*.local

# vercel
front-end/.vercel

# typescript
front-end/*.tsbuildinfo
front-end/next-env.d.ts